@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(130.02deg, #628E75 0.66%, #1A4855 83.32%);
    height: 100vh;
}

header {
    width: 75%;
    padding: 20px 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    margin-top: 40px;
    justify-content: start;
}

header nav a {
    padding: 0 10px;
}

main {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #F9F9F9;

}

section {
    width: 45%;
}

section a {
    display: inline;
}

figure {
    width: 60%;
}

figure img {
    width: 100%;
}

h1 {
    font-weight: 900;
    font-size: 68px;
    line-height: 109%;
    margin: 20px 0;
}

p {
    font-weight: 400;
    font-size: 22px;
}

.btn {
    padding: 8px 44px;
    transform: skew(-24deg);
    font-size: 22px;
    text-decoration: none;
    color: #F9F9F9;
    text-transform: uppercase;
}

.btn p {
    transform: skew(24deg);
    font-weight: 400;
}

.btn-primary {
    background-color: #658E76;
}

.btn-second {
    border: 2px solid #658E76;
    background-color: transparent;
    margin-left: 20px;
}

@media only screen and (max-width: 600px) {
    main {
        flex-direction: column-reverse;
    }

    main,
    header {
        width: 80%;
    }

    figure,
    section {
        width: 100%;
    }

    .btn-second {
        display: none;
    }

    h1 {
        font-size: 46px;
        margin: 2px;
    }

    nav {
        margin-top: 14px;
    }

}